Repository JuliaDynamics/ComplexityMeasures.jl, pull requests merged in 2022-10, with the labels that each got.

#115 Curado entropy
  docs/src/entropies.md
  docs/src/examples.md
  src/entropies/curado.jl
  src/entropies/entropies.jl
  src/entropy.jl
  test/entropies/curado.jl
  test/runtests.jl
Labels: new entropy, hacktoberfest-accepted

#112 Histogram rework
  Project.toml
  docs/src/probabilities.md
  src/Entropies.jl
  src/probabilities.jl
  src/probabilities_estimators/dispersion/dispersion.jl
  src/probabilities_estimators/histograms/histogram_estimation.jl
  src/probabilities_estimators/histograms/rectangular_binning.jl
  src/probabilities_estimators/histograms/visitation_frequency.jl
  src/probabilities_estimators/probabilities_estimators.jl
  src/probabilities_estimators/rectangular_binning/VisitationFrequency.jl
  src/probabilities_estimators/rectangular_binning/binning_schemes.jl
  src/probabilities_estimators/rectangular_binning/count_box_visits.jl
  src/probabilities_estimators/rectangular_binning/histogram_estimation.jl
  src/probabilities_estimators/rectangular_binning/rectangular_binning.jl
  src/probabilities_estimators/transfer_operator/transfer_operator.jl
  src/symbolization/symbolize.jl
  test/estimators/count_occurrences.jl
  test/estimators/visitation_frequency.jl
  test/runtests.jl
  test/utils/binning.jl
  test/utils/fasthist.jl
  test/utils/utils.jl
Labels: binning, hacktoberfest-accepted

#113 Events API
  docs/src/utils.md
  src/probabilities.jl
  src/probabilities_estimators/count_occurences.jl
  src/probabilities_estimators/dispersion/dispersion.jl
  src/probabilities_estimators/histograms/histogram_estimation.jl
  src/probabilities_estimators/histograms/rectangular_binning.jl
  src/probabilities_estimators/histograms/visitation_frequency.jl
  src/probabilities_estimators/kernel_density.jl
  src/probabilities_estimators/timescales/power_spectrum.jl
  src/probabilities_estimators/transfer_operator/transfer_operator.jl
  test/estimators/naive_kernel.jl
  test/estimators/timescales.jl
  test/utils/fasthist.jl
Labels: discussion-design, hacktoberfest-accepted

#129 Slightly larger edge lengths ensures bins cover all points
  src/probabilities_estimators/histograms/rectangular_binning.jl
  test/estimators/visitation_frequency.jl
Labels: bug, high priority, binning

#71 Sample entropy
  Project.toml
  docs/src/complexity_measures.md
  docs/src/examples.md
  src/complexity.jl
  src/complexity_measures/complexity_measures.jl
  src/complexity_measures/sample_entropy.jl
  test/complexity_measures/complexity_measures.jl
  test/complexity_measures/sample_entropy.jl
Labels: new complexity measure

#72 Approximate entropy
  docs/src/complexity_measures.md
  docs/src/examples.md
  src/complexity.jl
  src/complexity_measures/approximate_entropy.jl
  src/complexity_measures/complexity_measures.jl
  src/complexity_measures/sample_entropy.jl
  test/Project.toml
  test/complexity_measures/approx_entropy.jl
  test/complexity_measures/complexity_measures.jl
Labels: new complexity measure

#124 New complexity measure: Missing dispersion patterns
  docs/Project.toml
  docs/src/complexity_measures.md
  docs/src/examples.md
  docs/src/utils.md
  src/complexity_measures/complexity_measures.jl
  src/complexity_measures/missing_dispersion.jl
  src/probabilities.jl
  src/probabilities_estimators/dispersion/dispersion.jl
  test/complexity_measures/complexity_measures.jl
  test/complexity_measures/missing_dispersion.jl
  test/utils/symbolization.jl
Labels: new complexity measure

#141 Unified terminology
  Project.toml
  docs/Project.toml
  docs/make.jl
  docs/src/examples.md
  docs/src/probabilities.md
  docs/src/utils.md
  docs/toc.jl
  src/Entropies.jl
  src/complexity_measures/missing_dispersion.jl
  src/complexity_measures/reverse_dispersion_entropy.jl
  src/encoding/gaussian_mapping.jl
  src/encoding/ordinal_mapping.jl
  src/encoding/outcomes.jl
  src/encoding/utils.jl
  src/entropy.jl
  src/probabilities.jl
  src/probabilities_estimators/count_occurences.jl
  src/probabilities_estimators/dispersion/dispersion.jl
  src/probabilities_estimators/histograms/histogram_estimation.jl
  src/probabilities_estimators/histograms/rectangular_binning.jl
  src/probabilities_estimators/histograms/visitation_frequency.jl
  src/probabilities_estimators/kernel_density.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicAmplitudeAware.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicPermutation.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicWeightedPermutation.jl
  src/probabilities_estimators/permutation_ordinal/spatial_permutation.jl
  src/probabilities_estimators/timescales/power_spectrum.jl
  src/probabilities_estimators/timescales/wavelet_overlap.jl
  src/probabilities_estimators/transfer_operator/transfer_operator.jl
  src/symbolization/symbolize.jl
  test/complexity_measures/missing_dispersion.jl
  test/complexity_measures/reverse_dispersion.jl
  test/entropies/stretched_exponential.jl
  test/estimators/dispersion.jl
  test/estimators/naive_kernel.jl
  test/estimators/timescales.jl
  test/estimators/visitation_frequency.jl
  test/utils/encoding.jl
  test/utils/utils.jl
Labels: documentation, discussion-design

#127 `FixedRectangularBinning` symbolization and `Diversity` probabilities
  docs/Project.toml
  docs/src/examples.md
  docs/src/probabilities.md
  docs/src/utils.md
  src/Entropies.jl
  src/complexity_measures/reverse_dispersion_entropy.jl
  src/complexity_measures/sample_entropy.jl
  src/encoding/gaussian_cdf.jl
  src/encoding/ordinal_pattern.jl
  src/encoding/outcomes.jl
  src/probabilities_estimators/dispersion/dispersion.jl
  src/probabilities_estimators/diversity/diversity.jl
  src/probabilities_estimators/histograms/histogram_estimation.jl
  src/probabilities_estimators/histograms/rectangular_binning.jl
  src/probabilities_estimators/histograms/visitation_frequency.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicAmplitudeAware.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicPermutation.jl
  src/probabilities_estimators/permutation_ordinal/SymbolicWeightedPermutation.jl
  src/probabilities_estimators/permutation_ordinal/spatial_permutation.jl
  src/probabilities_estimators/probabilities_estimators.jl
  src/probabilities_estimators/transfer_operator/transfer_operator.jl
  test/Project.toml
  test/complexity_measures/missing_dispersion.jl
  test/complexity_measures/reverse_dispersion.jl
  test/estimators/dispersion.jl
  test/estimators/diversity.jl
  test/estimators/visitation_frequency.jl
  test/runtests.jl
  test/utils/encoding.jl
Labels: documentation, enhancement, new probabilities, binning, hacktoberfest-accepted
